
*{
  box-sizing: border-box;
}

html{
  font-size: 17px;
}

:root {
    

    --ff: 'Quicksand', sans-serif;
  
    --fw-s: 400;
    --fw-m: 500;
    --fw-b: 600;
    --fs-1:1em ;
    --fs-2: 2em;
    --fs-3: 1.4em;
    --fs-s:  0.8em;
     --fs-b:3em;
    --bg-clr: white;
    --pri-clr: rgb(29,33,35);
    --accent-clr: rgb(103, 34, 128);
    --margin:2em ;
    --pad: 0.5rem;
    


}
body{
  margin: 0px;
  font-family: var(--ff);
  font-size: var(--fs-1);
  color:var(--pri-clr);
  background-color: var(--bg-clr);
}

section{
  margin-block: var(--margin);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:var(--bg-clr);
  background-color: var(--accent-clr);
  padding: var(--pad);
}

.side{
  display: flex;
  align-items: center;
}


.logo{
  width:30px;
  
  margin-right: 20px;
}

fieldset {
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3em;

}

input{
  padding-block: 10px;
  padding-inline: 20px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  gap: 3em;
}

.submit{ 
  color: white;
  background-color: var(--accent-clr);
  border:0;
  font-size: var(--fs-1);
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  

}


.meme-image{
  margin-top: 40px;
  height: 500px;
  max-width: 100%;
  object-fit: cover;
  
}

.tenary{
  display: none;
  position:fixed;
  top:0;
  z-index: 100;
  width:100vh;
  color:yellow;
}

.tenary>button{
  color:black;
  background-color: yellowgreen;
  padding: 2opx,35px;
  font-size: 24px;
}

main{
  display:none;
  position:fixed;
  top:0;
  z-index: 100;
  width:100vh;
  color:aqua;
  background-color: black;
  padding: 10px;
}

.card--image {
  width:200px;
  object-fit: cover;
  padding-bottom: 20px;
}

.card--favorite{
  width: 40px;
}